<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<integer>20</integer>
	<key>result</key>
	<array>
		<dict>
			<key>bundled</key>
			<true/>
			<key>type</key>
			<string>IR_REMOTE_BUNDLE_TYPE_GA</string>
		</dict>
		<array>
			<dict>
				<key>name</key>
				<string>Num1</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAAAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num2</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAABAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num3</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAACAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num4</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAADAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num5</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAEAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num6</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAFAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num7</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAGAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num8</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAHAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num9</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAIAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num0</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAJAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num11</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAKAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Num12</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAALAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Enter</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAALAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GGuide</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAOAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ChannelUp</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAQAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ChannelDown</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAARAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>VolumeUp</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAASAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>VolumeDown</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAATAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mute</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAUAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TvPower</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAVAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Audio</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAXAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MediaAudioTrack</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAXAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tv</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAkAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Input</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAlAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TvInput</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAlAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TvAntennaCable</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAqAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WakeUp</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAuAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PowerOff</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAvAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Sleep</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAvAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Right</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAAzAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Left</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA0Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SleepTimer</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA2Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Analog2</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA4Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TvAnalog</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA4Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Display</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA6Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Jump</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA7Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PicOff</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA+Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PictureOff</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA+Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Teletext</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAA/Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Video1</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAABAAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Video2</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAABBAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AnalogRgb1</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAABDAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Home</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAABgAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exit</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAABjAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PictureMode</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAABkAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Confirm</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAABlAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Up</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAB0Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Down</string>
				<key>value</key>
				<string>AAAAAQAAAAEAAAB1Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ClosedCaption</string>
				<key>value</key>
				<string>AAAAAgAAAKQAAAAQAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Component1</string>
				<key>value</key>
				<string>AAAAAgAAAKQAAAA2Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Component2</string>
				<key>value</key>
				<string>AAAAAgAAAKQAAAA3Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Wide</string>
				<key>value</key>
				<string>AAAAAgAAAKQAAAA9Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>EPG</string>
				<key>value</key>
				<string>AAAAAgAAAKQAAABbAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PAP</string>
				<key>value</key>
				<string>AAAAAgAAAKQAAAB3Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TenKey</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAMAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BSCS</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAQAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ddata</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAVAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Stop</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAYAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Pause</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAZAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Play</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAaAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Rewind</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAbAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Forward</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAcAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DOT</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAdAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Rec</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAgAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Return</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAjAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAkAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Red</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAlAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAmAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Yellow</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAnAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SubTitle</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAoAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CS</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAArAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BS</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAsAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Digital</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAAyAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Options</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAA2Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Media</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAA4Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Prev</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAA8Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Next</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAA9Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DpadCenter</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAABKAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CursorUp</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAABPAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CursorDown</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAABQAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CursorLeft</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAABNAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CursorRight</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAABOAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ShopRemoteControlForcedDynamic</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAABqAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>FlashPlus</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAB4Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>FlashMinus</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAB5Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AudioQualityMode</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAB7Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DemoMode</string>
				<key>value</key>
				<string>AAAAAgAAAJcAAAB8Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Analog</string>
				<key>value</key>
				<string>AAAAAgAAAHcAAAANAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mode3D</string>
				<key>value</key>
				<string>AAAAAgAAAHcAAABNAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DigitalToggle</string>
				<key>value</key>
				<string>AAAAAgAAAHcAAABSAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DemoSurround</string>
				<key>value</key>
				<string>AAAAAgAAAHcAAAB7Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>*AD</string>
				<key>value</key>
				<string>AAAAAgAAABoAAAA7Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AudioMixUp</string>
				<key>value</key>
				<string>AAAAAgAAABoAAAA8Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AudioMixDown</string>
				<key>value</key>
				<string>AAAAAgAAABoAAAA9Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PhotoFrame</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABVAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tv_Radio</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABXAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SyncMenu</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABYAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hdmi1</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABaAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hdmi2</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABbAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hdmi3</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABcAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hdmi4</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABdAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TopMenu</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABgAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PopUpMenu</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABhAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>OneTouchTimeRec</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABkAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>OneTouchView</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABlAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DUX</string>
				<key>value</key>
				<string>AAAAAgAAABoAAABzAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>FootballMode</string>
				<key>value</key>
				<string>AAAAAgAAABoAAAB2Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>iManual</string>
				<key>value</key>
				<string>AAAAAgAAABoAAAB7Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Netflix</string>
				<key>value</key>
				<string>AAAAAgAAABoAAAB8Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Assists</string>
				<key>value</key>
				<string>AAAAAgAAAMQAAAA7Aw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>FeaturedApp</string>
				<key>value</key>
				<string>AAAAAgAAAMQAAABEAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>FeaturedAppVOD</string>
				<key>value</key>
				<string>AAAAAgAAAMQAAABFAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GooglePlay</string>
				<key>value</key>
				<string>AAAAAgAAAMQAAABGAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ActionMenu</string>
				<key>value</key>
				<string>AAAAAgAAAMQAAABLAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Help</string>
				<key>value</key>
				<string>AAAAAgAAAMQAAABNAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TvSatellite</string>
				<key>value</key>
				<string>AAAAAgAAAMQAAABOAw==</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WirelessSubwoofer</string>
				<key>value</key>
				<string>AAAAAgAAAMQAAAB+Aw==</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
